<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뉴스 상세페이지</title>
    <%- include("common/link.ejs") %>
</head>
<body>
    <%- include("common/header.ejs") %>
    <div class="newsWrap">
        <div class="center">
            <h2>NEWS</h2>
            <div class="newsdetailWrap">
                <h3><%-brdData.name%></h3>
                <div><img src="/upload/<%-brdData.thumbnail%>"></div>
                <p><%-brdData.conext%></p>
            </div>
        </div>
    </div>
    <%- include("common/footer.ejs") %>
    <script src="/js/dropdown.js"></script>
    <script src="/js/scroll.js"></script>
</body>
</html>