<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴소개 페이지</title>
    <%- include("common/link.ejs") %>
</head>
<body>
    <%- include("common/header.ejs") %>
    <div class="galWrap">
        <div class="center">
            <h2>GALLERY</h2>
            <ul class="gal_tapmenu">
                <li><a href="/menu/landscape">풍경화</a></li>
                <li><a href="/menu/fixed">정물화</a></li>
                <li><a href="/menu/portrait">초상화</a></li>
                <li><a href="/menu/surrealism">초현실주의</a></li>
                <li><a href="/menu/renaissance">르네상스</a></li>
            </ul>
            <div class="gall_wrap">
                <% for(let i =0; i <prdData.length; i++){ %>
                    <div class="gall_frame">
                        <a class="imgWrap" href="/menudetail/<%-prdData[i].num%>">
                            <img src="/upload/<%-prdData[i].thumbnail%>">
                            <div class="titlebg"><%-prdData[i].name%></div>
                        </a>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <%- include("common/footer.ejs") %>
    <script src="/js/dropdown.js"></script>
    <script src="/js/scroll.js"></script>
    <script src="/js/tapmenu.js"></script>
</body>
</html>