<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메뉴소개 페이지</title>
    <%- include("common/link.ejs") %>
</head>
<body>
    <%- include("common/header.ejs") %>
    <div class="galWrap">
        <div class="center">
            <h2>GALLERY</h2>
            <div class="detail">
                <div class="frame"><div class="framein"><div class="imgWrap"><img src="/upload/<%-prdData1.thumbnail%>"></div></div></div>
                <div class="frame_info">
                    <h3 class="title"><%-prdData1.name%></h3>
                    <p class="context"><%-prdData1.conext%></p>
                </div>
            </div>
            <div class="ca_position">
                <h3>다양한 작품들</h3>
                <div class="ca_wrap">
                    <!-- 캐러셀 움직이는 기차 역할 -->
                    <div class="ca_move">
                    <% for(let i =0; i <prdData2.length; i++){ %>
                        <div class="ca_child"><a href="/menudetail/<%-prdData2[i].num%>"><img src="/upload/<%-prdData2[i].thumbnail%>"></a></div>
                    <% } %>
                    </div>
                </div>
                <div class="ca_prev"><i class="fa-solid fa-chevron-left"></i></div>
                <div class="ca_next"><i class="fa-solid fa-chevron-right"></i></div>
            </div>
            <a class="golist" href="/menu/landscape">LIST</a>
        </div>
    </div>
    <%- include("common/footer.ejs") %>
    <script src="/js/dropdown.js"></script>
    <script src="/js/scroll.js"></script>
    <script>
        //캐러셀 움직이는 대상 및 순서 변경 될때 감싸는 부모역할
        const ca_move = document.querySelector(".ca_move");
        const prevBtn = document.querySelector(".ca_prev");
        const nextBtn = document.querySelector(".ca_next");
    
        //화면 사이즈에 따라 marginLeft 값 / 원위치 되는 값 변경
        let prevChangeMargin;
        let setMargin;

        let browserSizeCheck = ()=>{
            if(window.matchMedia("screen and (min-width:1601px)").matches){
                prevChangeMargin = "-50%";
                setMargin = "-25%";
            }
            else if(window.matchMedia("screen and (max-width:1600px) and (min-width:1025px)").matches){
                prevChangeMargin = "-66.666666%";
                setMargin = "-33.333333%";
            }
            else if(window.matchMedia("screen and (max-width:1024px) and (min-width:769px)").matches){
                prevChangeMargin = "-100%";
                setMargin = "-50%";
            }
            else if(window.matchMedia("screen and (max-width:768px)").matches){
                prevChangeMargin = "-200%";
                setMargin = "-100%";
            }
            // 리사이즈 / 로드 했을 때 원위치 되는 값 ca_move에 적용
            ca_move.style.marginLeft = setMargin;
        }

        window.addEventListener("resize",()=>{
            browserSizeCheck(); //웹브라우저 크기 조절시
        });

        window.addEventListener("load",()=>{
            browserSizeCheck(); //웹 사이트 화면 로딩 후
        });

        //prev 클릭시 캐러셀 이동 후 순서 교체 후 원위치 시키는 작업
        prevBtn.addEventListener("click",function(){
            ca_move.style.transition = "all 0.5s";
            ca_move.style.marginLeft = prevChangeMargin;
            prevBtn.style.display = "none";
            nextBtn.style.display = "none";
            //이전 버튼 클릭시 첫번째 자식 요소 선택!
            let fchild = ca_move.firstElementChild;
            
            setTimeout(()=>{
                ca_move.append(fchild);
                ca_move.style.transition = "none";
                prevBtn.style.display = "block";
                nextBtn.style.display = "block";
                ca_move.style.marginLeft = setMargin;
            },700)
        });
        
        //next 클릭시 캐러셀 이동 후 순서 교체 후 원위치 시키는 작업
        nextBtn.addEventListener("click",function(){
            ca_move.style.transition = "all 0.5s";
            ca_move.style.marginLeft = "0%";
            prevBtn.style.display = "none";
            nextBtn.style.display = "none";
            //이후 버튼 클릭시 마지막 자식 요소 선택!
            let lchild = ca_move.lastElementChild;
            
            setTimeout(()=>{
                ca_move.prepend(lchild);
                ca_move.style.transition = "none";
                prevBtn.style.display = "block";
                nextBtn.style.display = "block";
                ca_move.style.marginLeft = setMargin;
            },700)
        });
        
    </script>
</body>
</html>