<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>매장 검색</title>
    <%- include("common/link.ejs") %>
</head>
<body>
    <%- include("common/header.ejs") %>
    <div class="storeWrap">
        <div class="center">
            <h2>전시관 안내</h2>
            <ul class="gal_tapmenu">
                <li><a href="/store">전시관 찾기</a></li>
                <li><a href="/storeopen">오픈예정 전시관</a></li>
            </ul>
            <div class="searchWrap">
                <div class="left_searchMap">
                    <!-- 지역으로 된 태그 생성은 셀프-->
                    <img src="/img/koreamap.png">
                </div>
                <div class="right_search">
                    <!-- 사용자가 매장 검색 하는 구간(지역으로 검색) -->
                    <form id="local" action="/store/search/local" method="get">
                        <div>
                            <div>01 지역으로 검색</div>
                            <!-- 시/도 선택 -->
                            <select class="city1" name="city1">
                                <option value>시/도 선택</option>
                            </select>
                            <!-- 구/군 선택 -->
                            <select class="city2" name="city2">
                                <option value>구/군 선택</option>
                            </select>
                            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
                    <!-- 사용자가 매장 검색 하는 구간(매장명으로 검색) -->
                    <form action="/store/search/storename" method="get">
                        <div>
                            <div>02 전시관명으로 검색</div>
                            <input class="namesearch" type="text" name="name">
                            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- 검색 시 검색 결과 없는 경우 -->
    <% if(storeData.length === 0){ %>
        <h3 class="nostore">해당하는 전시관이 없습니다.</h3>
    <% } else{ %>
    <!-- 처음 들어왔을 때 모든 매장 리스트 보여줌 -->
    <h3 class="store_s_title">전시관 안내</h3>
    <div class="storelistheader">
        <div class="line">
            <div class="fir">매장명</div>
        </div>
        <div class="line">
            <div class="sec">위치</div>
        </div>
        <div class="line">
            <div class="thr">상세주소</div>
        </div>
        <div class="line">
            <div class="for">전화번호</div>
        </div>
    </div>
    <% for(let i = 0; i < storeData.length; i++){%>
        <div class="storelist">
            <div class="line">
                <div><%-storeData[i].name %></div>
            </div>
            <div class="line">
                <div><%- storeData[i].sido + storeData[i].sigugun %></div>
            </div>
            <div class="line">
                <div><%-storeData[i].adress %></div>
            </div>
            <div class="line">
                <div><%-storeData[i].phone %></div>
            </div>
        </div>
        <input id="searchResult" type="hidden" value="<%- storeData[i].sido %>">
    <% }} %>
        </div>
    <!-- 페이징 번호 생성된 구간 -->
    <% if(pageNumber != "nopage"){ %>
        <ul class="paging">
            <% if(pageNumber <= 1){ %>
                <li>처음</li>
            <% } else { %>
                <li><a href="?page=1">처음</a></li>
            <% } %>
            <% if(blockStart > totalBlock){ %>
                <li><a href="?page=<%- blockStart - 1 %>">이전</a></li>
            <% } %>
            <% for(let i = blockStart; i <= blockEnd; i++){ %>
                <% if(pageNumber == i){ %>
                <li class="highlight"><a href="?page=<%- i %>"><%- i %></a></li>
                <% } else { %>
                <li><a href="?page=<%- i %>"><%- i %></a></li>
                <% } %>
            <% } %>
            <% if(blockNum < totalBlock){ %>
                <li><a href="?page=<%- blockEnd + 1 %>">다음</a></li>
            <% } %>
            <% if(pageNumber >= paging){ %>
                <li>마지막</li>
            <% } else { %>
                <li><a href="?page=<%- paging %>">마지막</a></li>
            <% } %>
        </ul>
    <% } %>
    </div>
    
    
    
    
    <%- include("common/footer.ejs") %>
    <script src="/js/hangjungdong.js"></script>
    <script src="/js/storeselect.js"></script>
    <script src="/js/dropdown.js"></script>
    <script src="/js/scroll.js"></script>
    

    <script>
        const mapCity = document.querySelector(".left_searchMap");
        
        for(let i = 0; i < hangjungdong.sido.length; i++){
            let cityTag = document.createElement("div"); //태그 생성
            let cityText = document.createTextNode(hangjungdong.sido[i].codeNm); //태그에 들어갈 텍스트 생성
            cityTag.append(cityText);
            cityTag.setAttribute("data-name",hangjungdong.sido[i].codeNm);
            cityTag.setAttribute("class",hangjungdong.sido[i].ciNm);
            cityTag.classList.add("circle");
            cityTag.setAttribute("data-sigugun",hangjungdong.sido[i].sido);
            mapCity.append(cityTag);
        }

        const circles = document.querySelectorAll(".circle");
        const local = document.querySelector("#local");
        
        circles.forEach((item,index)=>{
            let name = item.getAttribute("data-name");
            item.addEventListener("click",()=>{
                let sigu = item.getAttribute("data-sigugun");
                for(let i=0; i< city1.options.length; i++){
                    if(name == city1.options[i].value){
                        city1.options[i].selected = true;
                        sigugun(sigu);
                    }
                }
                local.submit(); //form태그 데이터 전송
            });
        });

        circles.forEach(function(item,index){
            if(decodeURI(window.location.search).includes(item.getAttribute("data-name"))){
                item.classList.add("on");
            }
        });
        
    </script>
    <script>history.replaceState({}, null, "/store");</script>
    <script src="/js/tapmenu.js"></script>
</body>
</html>